.topleft {
    position:absolute;
    top: 20px;
    left: 20px;
}
.topleft ul li img {
    margin-top: -5px;
}

.topright {
    position: absolute;
    top: 20px;
    right: 20px;
}
.bottomright {
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.bottomright2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.bottomleft {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bottomleft2 {
    position: absolute;
    bottom: 0px;
    left: 30px;
}