<div class="container">
    <div class="row">

        <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header text-center">
                    <h1>
                        Send your feedback
                    </h1>
                </div>
                <div class="content">
                    <div class="text-center">
                        <img class="icon" src="img/icons8/icons8-Email.svg">
                    </div>
                    <br>
                    <p>
                        The button below has created an email layout for you to easily send feedback to your colleague. The mail itself will not
                        send immediately when you click the button. It will open your preferred email and show you the result
                        it has generated. Then it is up to you to actually send your email.
                    </p>
                    <p>
                        Remember it is always a good idea to follow up on your feedback with a face to face chat. This goes for both positive feedback
                        and suggestions for improvement.
                    </p>
                    <br>
                    <div class="text-center">
                        <a ng-click="link()" ng-href="{{ email }}" class="btn__solid">Open email</a>
                    </div>
                </div>
                <div class="bottomright">
                    <p>
                        5/5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="#!/step3">
    <div class="topleft hidden-xs">
        <ul class="list-inline">
            <li>
                <img src="img/left-arrow.svg">
            </li>
            <li>
                <p class="white">Back</p>
            </li>
        </ul>
    </div>
</a>