<br>
<br>

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="white">
                Give feedback to a colleague
            </h1>
            <p class="white">
                Go through this short series of questions to provide valuable feedback to a colleague.
            </p>

            <br>

            <div class="row text-center">

                <a href="#!/receiver">
                    <div class="col-md-6">
                        <div class="hovercard" ng-click="greatJob()">
                            <br>
                            <img src="img/icons8/icons8-Comments.svg">
                            <h5 class="subtitle">
                                Great performance
                            </h5>
                            <h3>Send feedback on a great job</h3>
                            <br>
                        </div>
                        <br>
                    </div>
                </a>

                <a href="#!/receiver">
                    <div class="col-md-6">
                        <div class="hovercard" ng-click="developSkills()">
                            <br>
                            <img src="img/icons8/icons8-Form.svg">
                            <h5 class="subtitle">
                                Development
                            </h5>
                            <h3>Feedback on something to work on</h3>
                            <br>
                        </div>
                        <br>
                    </div>
                </a>

            </div>

            <br>
            <br>
            <br>

        </div>
    </div>
</div>