<div class="container">
    <div class="row">

        <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header text-center">
                    <h1>
                        The Feedback Card
                    </h1>
                    <p>
                        A simple way to provide feedback
                    </p>
                </div>
                <div class="content">
                    <p>
                        The Feedback Card was created after an inspirational talk on feedback in an organization. Employees in modern organizations
                        often forget to continuously provide feedback for each other. This tool is meant to empower people
                        with an easy process of providing constructive feedback.
                    </p>
                    <p>
                        Whether the feedback is good or it focuses on improvement points, it is important. The feedback here is divided into four
                        simple parts: The situation, the observation, the feeling, and the advice. This information is then
                        compiled into an email. The email itself is not sent by finishing the steps. The final move is to
                        open an email where the written text has been added and formatted. By using a website it might become
                        easier for the employee to actually get the feedback to the receiver.
                    </p>
                    <br>
                    <div class="text-center">
                        <a href="#!/" class="btn__solid hidden-xs">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="#!/">
    <div class="topleft hidden-xs">
        <ul class="list-inline">
            <li>
                <img src="img/left-arrow.svg">
            </li>
            <li>
                <p class="white">Back</p>
            </li>
        </ul>
    </div>
</a>