<br>
<br>

<div class="container">
    <div class="row">

        <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header text-center">
                    <h1>
                        The receiver
                    </h1>
                    <p>
                        Type the name and the email of the feedback receiver.
                    </p>
                </div>
                <div class="content">
                    <h5 class="subtitle">
                        Name
                    </h5>
                    <input name="name" id="name" type="text" ng-model="data.name">
                    <br>
                    <h5 class="subtitle">
                        Email
                    </h5>
                    <input name="email" id="email" type="text" ng-model="data.email">
                    <br>
                    <br>
                    <div class="text-center">
                        <a href="#!/step1" class="btn__solid">Next step</a>
                    </div>
                </div>
                <div class="bottomright">
                    <p>
                        1/5
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="#!/">
    <div class="topleft hidden-xs">
        <ul class="list-inline">
            <li>
                <img src="img/left-arrow.svg">
            </li>
            <li>
                <p class="white">Back</p>
            </li>
        </ul>
    </div>
</a>